
# Sistemas de Suporte à Decisão

---------------

# TPC 3


Crie um ficheiro em python para trabalhar o dataset 

```python 
    datasets.california_housing
```

Nesse ficheiro, crie um script (função) por alínea que lhe permita gerar novos datasets a partir do dataset principal, onde tenha usado cada um dos seguintes métodos de pre-processamento: 

    1) Aggregation
    2) Sampling
    4) Dimensionality Reduction 
    5) Feature Subset Selection 
    6) Feature Creation 
    7) Discretization and Binarization 
    8) Attribute Transformation


O que é feito em cada caso, é da sua inteira liberdade.

In [2]:
import sklearn.datasets as datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from sklearn.decomposition import PCA

data = datasets.california_housing.fetch_california_housing()
new_data =np.concatenate((data.data, data.target.reshape(-1,1)*100000), axis=1)

### 5) Feature Creation

names = data.feature_names + ["Preços"]
dframe = pd.DataFrame(data=new_data, columns=names)
dframe.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Preços
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,452600.0
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,358500.0
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,352100.0
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,341300.0
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,342200.0

In [0]:
### 1) Aggregation

def aggKeys(dframe,key):
  
  keyArr = ["MedInc","HouseAge","AveRooms","AveBedrms","Population","Latitude","Longitude","Preços"]
  
  avgValue = np.mean(dframe.iloc[:,[key]])
  print("Average value of " + keyArr[key] + " is " + str(round(avgValue[0])))
  
  minValue = np.min(dframe.iloc[:,[key]])
  print("Minimum value of " + keyArr[key] + " is " + str(minValue[0]))
  
  maxValue = np.max(dframe.iloc[:,[key]])
  print("Maximum value of " + keyArr[key] + " is " + str(maxValue[0]))
  
  stat = dframe.groupby(keyArr[key]).agg(["mean","min","max"])
  
  return stat
  
aggKeys(dframe,0)

In [0]:
### 2) Sampling

def sampKeys(dframe):
  
  randValue = random.randint(0,10)
  randomSample = dframe.sample(randValue)
  return randomSample
  
sampKeys(dframe)

In [0]:
### 3) Dimensionality Reduction 

def dimRed(dframe):
    
    pca = PCA(4)

    redData = pca.fit_transform(dframe)

    redDFrame = pd.DataFrame(redData)
    redDFrame.index = dframe.index
    redDFrame.columns = ['C1','C2','C3','C4']
    
    return redDFrame.head()

dimRed(dframe)

In [0]:
### 4) Feature Subset Selection

def subSelect(dframe,v1,v2):
  
  return dframe.iloc[v1:,[v2]]
   
subSelect(dframe,0,2)

In [0]:
### 6) Discretization and Binarization 

def discBin(dframe):
  
  keyArr = ["MedInc","HouseAge","AveRooms","AveBedrms","Population","Latitude","Longitude","Preços"]
  
  return pd.concat([dframe, pd.get_dummies(dframe, '', '').astype(bool)], axis=1)[keyArr]

discBin(dframe)

In [0]:
### 7) Attribute Transformation

def attTransf(dframe):
  
  return dframe.transform(lambda x: x * x.min())

attTransf(dframe)